nav {
    text-align: center;
}
.filter {
    display: block;
    margin: 10px;
}
p.title {
    font-size: 22px;
    font-weight: bold;
    font-family: sans-serif;
    color: aqua;
}
::ng-deep {
    .mat-content {
        display: block !important;
    }
}