:host {
    text-align: left;
    color: black;
}

.item {
    max-width: 290px;
    background-size: contain;
    margin: 10px auto;
}

.vida {
    margin: 0 auto;
    font-size: 20px;
    color: white;
}
.heard {
    margin: 0 auto;
    font-size: 30px;
    color: white;
}
.heard-box {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.defense {
    position: relative;
    margin-left: 30px;
    font-size: 50px;
    color: white;
}
.defense-box {
    margin: 10px auto;
    background-image: url('/assets/shield.png');
    background-size: 100% 100%;
    width: 100px;
    height: 90px;
}
input[type="button"] {
    border-radius: 35%;
    margin: 5px;
    position: relative;
    top: -4px;
    background: transparent;
    color: white;
    font-size: 20px;
}
input[type="button"]:focus {
    outline: none;
}

.flex{
    display: flex;
}
::ng-deep {

    .experiencia .mat-progress-bar-fill::after {
        background-color: forestgreen;
    }
    .vida .mat-progress-bar-fill::after {
        background-color: red;
    }
    .mana .mat-progress-bar-fill::after {
        background-color: blue;
    }
}