<mat-tab-group>
    <mat-tab label="Estadisticas">
        <nav *ngIf="info">
            <div>
                <h1>{{info.nombre}}</h1>
            </div>
            <div>
                <app-pj [defense]="info.defensa" [vida]="info.vida"></app-pj>
            </div>
            <div *ngFor="let key of objectKeys(info.estadistica)">
                
                <app-boxlarge name="{{key + ' : '}}" (click)="openDialog(key)" num="{{info.estadistica[key]}}"></app-boxlarge>
            </div>

        </nav>
    </mat-tab>
    <mat-tab label="Habilidades">
        <app-habilidades [info]="info"></app-habilidades>
    </mat-tab>
    <mat-tab label="Hechizos">
        <app-hechizos [info]="info"></app-hechizos>
    </mat-tab>
    <mat-tab label="Armas"> Content 3 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>