<mat-tab-group>
    <mat-tab label="Estadisticas">
        <nav *ngIf="info">
            <div>
                <h1>{{info.nombre}}</h1>
            </div>
            <div>
                <app-pj [defensa]="info.defensa" [barra]="info.barra"></app-pj>
            </div>


            <div class="flex" style="flex-direction: column;">
                <div class="flex">
                    <app-boxshort name="nivel" (click)="openDialog(key)" num="3"></app-boxshort>
                    <app-boxshort name="prioridad" (click)="openDialog(key)" num="12"></app-boxshort>
                    <app-boxshort name="prioridad" (click)="openDialog(key)" num="12"></app-boxshort>
                </div>
                <div class="flex">
                    <app-boxshort name="prioridad" (click)="openDialog(key)" num="12"></app-boxshort>
                    <app-boxshort name="prioridad" (click)="openDialog(key)" num="12"></app-boxshort>
                    <app-boxshort name="prioridad" (click)="openDialog(key)" num="12"></app-boxshort>
                </div>

                
            </div>


            <div *ngFor="let key of objectKeys(info.estadistica)">
                <app-boxlarge name="{{key + ' : '}}" (click)="openDialog(key)" num="{{info.estadistica[key]}}"></app-boxlarge>
            </div>

        </nav>
    </mat-tab>
    <mat-tab label="Habilidades">
        <app-habilidades [info]="info"></app-habilidades>
    </mat-tab>
    <mat-tab label="Hechizos">
        <app-hechizos [info]="info"></app-hechizos>
    </mat-tab>
    <mat-tab label="Armas"> Content 3 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>