nav {
    text-align: center;
}
:host {
    overflow-x: auto;
    height: calc(100% - 56px);
    display: block;
}
.mat-tab-group {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
}
::ng-deep {
    .mat-tab-body-wrapper {
        height: 100%;
    }
}